@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid; */
}

.fs-7 {
    font-size: .8rem;
}

.lh-2 {
    line-height: .6;
}

.border-hover {
    border: 1.5px solid transparent;
    cursor: pointer;
    border-radius: 3px;
}

.border-hover:hover {
    border: 1.5px solid #fff;
}

i , select {
    cursor: pointer;
}

.grey {
    background-color: #33373D;
}





.band-1 {
    height: 10vh;
    background-color: #131921;
    color: #fff;
}

.logo {
    width: 100px;
    height: auto;
}

.band-1 .input-cont select {
    background-color: #E6E6E6;
    color: #4c4d4d;
    border-right: 1px solid #a5aaaa !important;
}

.band-1 .input-cont button {
    background-color: #FEBD69;
}

.input-cont input {
    outline: none;
}

.input-cont button {
    padding: .35rem .6rem !important;
    border: none;
}

.band-1 .lang select {
    background-color: #131921;
    color: #fff;
}





.band-2 {
    background-color: #232F3E;
    color: #fff;
}




.hero {
    background-color: #131921;
    height: 90vh;
    height: 90dvh;
    background: url(https://resizing.flixster.com/cSaTVG08tqRRGRzZIrvLeHZUQEs=/620x336/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p32095148_i_h10_aa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.prime-video {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

.sticky-nav::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    filter: blur(8px); 
}

.sticky-nav span {
    cursor: pointer;
}

.sticky-nav select {
    background-color: transparent;
    color: #fff;
    letter-spacing: .1ch;
    font-size: .85rem;
    font-weight: 500;
}

.sticky-nav select:hover {
    background-color: #fff;
    color: #000;
}

.sticky-nav .right-icons {
    color: #fff;
    width: 40px;
    height: 40px;
}

.sticky-nav .right-icons:hover {
    background-color: #fff;
    color: #000;
}

.profile {
    overflow: hidden;
    border: 5px solid transparent;
}

.profile:hover {
    border: 5px solid #fff;
}

.profile div {
    background-color: #466883;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile i {
    font-size: 2rem;
    transform: translateY(6px);
}

.detail span {
    color: #37F1A3;
}

.info::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45vh;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent 90%);
    z-index: 1;
}

